<div class="row">
  <h1>Topics</h1>
  <div>
    <%= link_to "New Topic", new_topic_path, class: 'button' %>
  </div><br />
    <div class="row">
       <%= @topics.each do |topic| %>
         <h3><%= link_to topic.title, "posts" %></h3><br />
           <%= image_tag(topic.topicimage) %><br />
           <p><%= topic.body %><p>
       <% end %>
     </div>
   </div>
