<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Indy Pharmacy Blog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    <header>
      <div class="row">
      <div class="small-4 columns">
      Pharmacy Hours Mon - Sat 9 - 7
      Sundays and Holidays 10 - 5
    </div>
    </div>
    </header>

  <body>
    <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title">Indy Pharmacy</h1>
      </section>
      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>
    <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Indy Pharmacy</label></li>
            <li><a href="/">Home</a></li>
            <li><%= link_to "Pharmacy", welcome_Pharmacy_path %></li>
            <li><%= link_to "Topics", topics_path %></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
    </aside>
    <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Indy Pharmacy </label></li>
            <li><%= link_to "Manage Posts", "/admin" %></li>
            <li><a href="#">Refills</a></li>
            <li><a href="#">Transfers</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Deliver my RX</a></li>
          </ul>
    </aside>

    <div>
    <div>

    <!-- <nav class="top-bar foundation-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1> <a href="/">Indy Pharmacy</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li>
              <%= link_to "Manage Posts", "/admin" %>
            </li>
          </ul>
        </section>
      </nav>
      <div class="row">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div> -->
<%= yield %>

  </body>
</html>
